<h1 id="message"></h1>
<h2 id="errorStatus"></h2>
<pre id="errorStack"></pre>

<script>
  document.getElementById("message").innerText = "<%= message %>";
  document.getElementById("errorStatus").innerText = "<%= error.status %>";
  document.getElementById("errorStack").innerText = "<%= error.stack %>";
</script>
