<%- include ('partials/header.ejs') %>

  <%- include ('partials/main_nav.ejs') %>




    <!--Main Content-->
    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to ChessTourneyHub!</h1>
        <p class="lead">
          Your one-stop destination for all chess tournaments. Join a community of chess enthusiasts, participate in
          tournaments, and celebrate the spirit of this timeless game.
        </p>
        <hr class="my-4">
        <p>Explore a wide range of tournaments, from local club matches to grandmaster showdowns. Whether you're a
          beginner or a seasoned player, there's a tournament for everyone.</p>
        <a class="btn btn-primary btn-lg" href="/tourney/tournaments" role="button">View Tournaments!</a>
      </div>

      <div class="additional-content">
        <div class="col-md-6">
          <h2>Latest Chess News</h2>
          <p>Stay updated with the latest happenings in the world of chess. From tournament results to exciting game
            analyses, we've got you covered.</p>
          <p>Read about the strategies employed by top players and the drama unfolding on the chessboard.</p>
          <p>Check back regularly for the freshest chess news!</p>
        </div>

        <hr>

        <div class="col-md-6">
          <h2>Chess Tips & Strategies</h2>
          <p>Improve your chess skills with our expert tips and strategies. Whether you're a beginner or an advanced
            player, there's always room for enhancement.</p>
          <p>Learn opening strategies, mid-game tactics, and endgame techniques from seasoned chess players.</p>
          <p>Explore our articles and videos to take your chess game to the next level!</p>
        </div>
      </div>
    </main>

    <%- include ('partials/bottom_nav.ejs') %>

      <%- include ('partials/footer.ejs') %>