.navbar {
    background-color: #343a40; 
  }
  
  .navbar-brand {
    color: #fff; 
  }
  
  .navbar-toggler-icon {
    background-color: #fff; 
  }
  
  .navbar-nav {
    margin-left: auto; 
  }
  
  .nav-item {
    margin-right: 15px;
  }
  
  .nav-link {
    color: #fff;
  }
  
  .nav-link:hover {
    color: #007bff; 
  }
    
  .fa-house,
  .fa-chess,
  .fa-right-to-bracket {
    margin-right: 5px; 
  }
  