<!--
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  -->
  <!--CSS LINK-->
  <!--

  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
</head>
<body>
-->
<!--Nav-->
<!--

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">ChessTourneyHub</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home"><i class="fa-solid fa-house"></i> Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/tourney/tournaments"><i class="fa-solid fa-chess"></i>Tournaments</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/login"><i class="fa-solid fa-right-to-bracket"></i>Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
-->
<!--Main Content-->
<!--

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to ChessTourneyHub!</h1>
    <p class="lead">
      Your one-stop destination for all chess tournaments. Join a community of chess enthusiasts, participate in tournaments, and celebrate the spirit of this timeless game.
    </p>
    <hr class="my-4">
    <p>Explore a wide range of tournaments, from local club matches to grandmaster showdowns. Whether you're a beginner or a seasoned player, there's a tournament for everyone.</p>
    <a class="btn btn-primary btn-lg" href="/tourney/tournaments" role="button">View Tournaments!</a>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Latest Chess News</h2>
    -->
      <!-- Content for latest chess news -->
      <!--

    </div>
    <div class="col-md-6">
      <h2>Chess Tips & Strategies</h2>
    -->
      <!-- Content for chess tips and strategies -->
      <!--

    </div>
  </div>
</body>
</main>
-->
<!--Bottom Nav-->
<!--

<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="display-7 navbar-text">&copy; ChessTourneyHub. 2023. All Rights Reserved.</h6>
  </nav>
</footer>
-->
<!--JavaScript Link-->
<!--

<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/jquery/dist/jquery.min.js"></script>
</body>
</html>

-->
<h1>hello</h1>
<router-outlet></router-outlet>
