<main class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
  
            <h1 class="text-center my-4"><i class="fa-solid fa-chess"></i> Add A Tournament <i class="fa-solid fa-chess"></i></h1>
            <div class="text-center mb-3">
                <a href="details" class="btn btn-primary">
                    <i class="fa fa-plus"></i> Add a Tournament
                </a>
            </div>
  
            <!-- Tournament Table -->
            <table class="table table-bordered table-striped table-hover">
                <!-- Header -->
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">Title</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">Location</th>
                        <th class="text-center">Date</th>
                        <th class="text-center col-1">Edit</th>
                        <th class="text-center col-1">Delete</th>
                    </tr>
                </thead>
  
                <!-- Table Body -->
                <tbody>
                    <!-- Dummy data for representation -->
                        <tr *ngFor = "let tournaments of tourneyEdit">
                            <td><span>{{tournaments.title}}</span></td> 
                            <td><span>{{tournaments.type}}</span></td> 
                            <td><span>{{tournaments.location}}</span></td>
                            <td><span>{{tournaments.date}}</span></td> 
                            <td>
                                <a href="details/1" class="btn btn-primary btn-sm">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="delete/1" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                </tbody>
            </table>
            <br>
        </div>
    </div>
  </main>
  